body {
	width: 100%;
	height: 100%;
}

/* Custom breadcrumbs */
.custom-breadcrumbs {
	list-style: none;
	padding: 0;
	display: flex;
}

.custom-breadcrumbs > li {
	margin-right: .25rem;
}

.custom-breadcrumbs > li > a {
	color: var(--gray);
}

.custom-breadcrumbs > li > svg {
	color: var(--gray-400);
	margin-left: .25rem;
}

.custom-breadcrumbs > li.active {
}

/* Fade in animation */
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

/* Navbar */
.store-navbar {
	border-bottom: 1px solid var(--gray-100)
}

.store-navbar-logo {
	max-height: 2.5rem;
}

/* Others */
.badge-price {
	color: var(--primary);
	background-color: var(--primary-100);
    padding: .25rem .5rem;
    font-size: 95%;
}

/* Header */
.store-cover-wrapper {
	position: relative;
	display: flex;
	height: 17.5rem;
	background: var(--primary-100);
	border-radius: .25rem;
    overflow: hidden;
}

.store-cover-background {
	position: absolute;
	width: 100%;
	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: .6s transform ease-in-out;
}

.store-cover-background:hover {
	transform: scale(1.2);
}

.store-title {
	color: var(--black);
}

[data-theme-style="dark"] .store-description {
	color: var(--gray);
}

/* Menu */
.store-menu-image-wrapper {
	position: relative;
    height: 13rem;
    width: 100%;
	background: var(--primary-100);
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
    overflow: hidden;
}

.store-menu-image-background {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Item */
.store-item-image-wrapper {
	position: relative;
	min-width: 10rem;
	min-height: 10rem;
	max-width: 10rem;
	max-height: 10rem;
	background: var(--primary-100);
	border-radius: .25rem;
    overflow: hidden;
}

.store-item-image-background {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Item main */
.store-item-main-image-wrapper {
	position: relative;
	width: 100%;
	height: 25rem;
	background: var(--primary-100);
	border-radius: .25rem;
	overflow: hidden;
}

.store-item-main-image-background {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Cart */
.store-cart-image-wrapper {
	position: relative;
	min-width: 5rem;
	min-height: 5rem;
	max-width: 5rem;
	max-height: 5rem;
	background: var(--primary-100);
	border-radius: .25rem;
	overflow: hidden;
}

.store-cart-image-background {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Footer */
.store-footer {
	margin-top: 3rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: .95rem;
	border-top: 1px solid var(--gray-100);
}

/* Images, icons */
.icon-favicon {
	width: 1rem;
	height: auto;
}

.store-logo {
	max-width: 4rem;
}

.svg-sm {
	width: 1rem;
	height: auto;
}

.svg-md {
	width: 1.25rem;
	height: auto;
}

.svg-lg {
	width: 1.5rem;
	height: auto;
}

